# Gitingnore include the data which is uniqe to the satellite groups

**/AlternativeStorage
**/CommandForms
**/MissionInformation
**/GSC-EndNode/GSC-EndNode.dll.config
GSC-EndNode/GSC-EndNode.dll.config
