<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>

    <appSettings>
        <add key="GroundCallsign" value="4X4HSC"/>
        <add key="GroundCallsignSSID" value="0"/>
        <add key="EndNodeName" value="Nikita"/>

        <add key="TxOuterConnectionAddress" value="127.0.0.1"/>
        <add key="TxOuterConnectionProtocol" value="TCP"/>
        <add key="TxOuterConnectionPort" value="61616"/>
        <add key="RxOuterConnectionAddress" value="127.0.0.1"/>
        <add key="RxOuterConnectionProtocol" value="TCP"/>
        <add key="RxOuterConnectionPort" value="61016"/>

        <!--<add key="InnerConnectionAddress" value="172.16.2.203"/>-->
        <!--<add key="InnerConnectionAddress" value="80.178.203.191"/>-->
        <add key="InnerConnectionAddress" value="127.0.0.1"/>
        <add key="InnerConnectionPort" value="61015"/>

        <add key="DoKissUplink" value="false"/>
        <add key="DoKissDownlink" value="false"/>
        <add key="DoAX25Uplink" value="false"/>
        <add key="DoAX25Downlink" value="false"/>

        <add key="ShowKissDebug" value="false"/>
        <add key="ShowAX25Debug" value="false"/>
        <add key="ShowEndsDebug" value="false"/>
    </appSettings>

</configuration>
