<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>

    <appSettings>
        <add key="GroundCallsign" value="4X4HSC"/>
        <add key="GroundCallsignSSID" value="0"/>
        <add key="EndNodeName" value="Random_tevel_team"/>

        <add key="TxOuterConnectionAddress" value="127.0.0.1"/>
        <add key="TxOuterConnectionProtocol" value="TCP"/>
        <add key="TxOuterConnectionPort" value="3211"/>
        <add key="RxOuterConnectionAddress" value="127.0.0.1"/>
        <add key="RxOuterConnectionProtocol" value="TCP"/>
        <add key="RxOuterConnectionPort" value="3211"/>

        <add key="InnerConnectionAddress" value="127.0.0.1"/>
        <add key="InnerConnectionPort" value="61015"/>

        <add key="DoKissUplink" value="true"/>
        <add key="DoKissDownlink" value="true"/>
        <add key="DoAX25Uplink" value="true"/>
        <add key="DoAX25Downlink" value="true"/>

        <add key="ShowKissDebug" value="false"/>
        <add key="ShowAX25Debug" value="false"/>
        <add key="ShowEndsDebug" value="false"/>
    </appSettings>

</configuration>
